<h1><%= @article.title %></h1>

<%= raw @article.content %>

<%= link_to "Edit this article", edit_article_path %>
<%= link_to "Delete this article", article_path,
      method: :delete,
      data: { confirm: "Are you sure?" } %>
