#link-write-article{
  background-color: #F5F5F5;
  border-radius: 20px;
  margin: 20px auto;
  padding: 10px 20px;
  width: 200px;
}
#link-write-article:hover {
  background-color: #E8E8E8;
}
#link-write-article > a {
  color: #949494;
}
#link-write-article > a:hover {
  text-decoration: none;
}
#content-editor {
  height: 30vh;
}
.link-home {
  margin: 100px auto;
  font-size: 20px;
}

